body{
	margin: 0px;
	padding: 0px;
	background-color: #202B58; 
	color: #000000;
}

/* 文字の設定 */
h1{
	padding: 10px;
	font-weight: bold;
	color: #FFFFFF;
}
#ind{
	padding-left: 2em;
}

/* 白い背景 */
.shiro{
	background-color: #FFFFFF;
}
/* 表の、上の部分のデザイン */
.table_tag{
	background-color: #A9A9A9 !important;
	text-align: center;
}

/* 白い文字(created by ikatakoso-su) */
#shiro-moji{
	color: #FFFFFF;
	font-weight: bold;
}

/* メニューバーとその上 */
/* Mytosyo */
.mytosyo{
	height: 70px;
	text-align: center;
	top: 0px;
}

/* メニューバー全体に */
.navbar--extend{
	background-color: #DDE5F4;
	margin: 0px;
	border: none;
	width: 100%;
}
/* メニューバーの中の文字 */
#link_moji{
	color: #10508A;
	font-weight: bold;
}
/* ユーザ名の文字 */
.dropdown-toggle--extend{
	color: #10508A !important;
	font-weight: bold;
}
/* リンク */
.navbar-nav--extend li:hover{
	background-color: #94B1DC;
}


/* ヘルプページ用 */
/* 白い枠 */
.shirowaku{
	background-color: #FFFFFF;
	margin: 10px;
	padding: 30px;
	border-radius: 10px;
}

/* ボタン(本の登録とか) */
.button{
	background-color: #DDE5F4;
	color: #10508A;
	padding: 3px 15px;
	margin: 10px 0px;
	text-align: center;
	border: none;
}
.button:hover{
	background-color: #94B1DC;
	cursor: pointer;
}


/* ふきだし */
.bubble {
	display:inline-block;
	position: relative;
	border-radius:5px;
	background: #FFFFFF;
	padding: 35px;
	width: 60%;
	bottom: 0px;
}
.bubble:after {
	position: absolute;
	content: " ";
	height: 0px;
	width: 0px;
	bottom: 0px;
}
/* 下三角半分(背の低いキャラクター) */
.bubble--expand:after {
	top: 100%;
	right: 5%;
	border-top:10px solid #fff;
	border-left:10px solid transparent;
}
/* キャラクター */
.chara{
	bottom: 0px;
}

/* 検索バー */
.search_bar{
	background-color: #FFFFFF;
	height: 3em;
	padding: 5px;
}
.search_bar-1{
	width: 40em;
	border-radius: 10px 0px 0px 10px;
	margin-right: 0px;
}
.search_bar-2{
	background-color: #F0FFF0;
	width: 10em;
	border-radius: 0px 10px 10px 0px;
	margin-left: 0px;
}