<h1>本の貸出</h1>

<%= bootstrap_form_for(@book, :url => rentals_path) do |f| %>
  <%= f.text_field :place ,label:"貸す人の名前"%>
  <%= f.hidden_field :id , value: params[:format] %>
  <%= f.primary "貸出", id: "rental_button" %>
<% end %>