<%= stylesheet_link_tag "inside/kuma.css", :media => "screen" %>
<h1>help</h1>
<div class="shirowaku">
	<h2>
		●「my図書館」とは、<br>
	</h2>
	<h3>
		<dir>
			<li>あの本どこに置いてたっけ？</li>
			<li>あの本、誰に貸したんだっけ？もう1年も返ってこないよ</li>
			<li>たくさん本を持ちすぎていて、何を持っているのか忘れてしまった</li>
		</dir>
		<p id="ind">
			そんな時にあなたをサポートするウェブアプリケーションです。<br>
			作成者はイカタコソース。知識情報システム主専攻の主専攻実習のため、作成しました。<br>
		</p>
	</h3>
	<h2>
		●各ページの説明
	</h2>
	<h3>
		<dir>
			<li>持っている本</li>
				<p id="ind">ログインして最初に表示される画面です。あなたの登録した本の情報はここに表示されます。<br></p>
			<li>貸している本</li>
				<p id="ind">あなたが友人に貸している本を表示します。誰に貸しているのか、忘れないようにメモしておきましょう。<br></p>
			<li>借りている本</li>
				<p id="ind">あなたが友人から借りている本を表示します。<br></p>
			<li>設定</li>
				<p id="ind">ページのカラーやユーザ名の変更などが行えます。大した設定はできませんが...（´・ω・｀）<br></p>
			<li>help</li>
				<p id="ind">このページです。<br></p>
		</dir>
	</h3>
	<h2>
		●本の登録方法
	</h2>
	<h2>
		●友達に貸す？借りる？
	</h2>
	<h2>
		●カラー設定？
	</h2>
	<h3 id="ind">
		「my図書館」ではあなたのために助手となる6匹の動物たちを用意しております。
		それぞれの動物ごとに異なる背景色が設定されていますので、好きな色の「my図書館」を作りましょう。<br>
		設定は、設定のページから行えます。<br>
	</h3>
</div>